body, html {
    margin: 0px;
    padding:0px;
    background-color:#AAA;
}

#container {
    margin:100px auto;
    width:800px;
    padding:20px;
    background-color:#EEE;
    border: 1px solid #999;
    border-radius:20px;
}

#game_area {
    width:800px;
    height:500px;
    background-color:#333;
}